<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>PAGE POTINS</h1>
        <h2>Salut petite fouine! <br/>Voici le potin n°<%= id %>.</h2>

        <p>Son auteur : <%= gossip.author %></p>
        <p>Le contenu : <%= gossip.content %> </p>

        <a href="/">Retourner à la liste des potins</a>
    </body>
</html>